# Flutter
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/build/

# Node
backend/node_modules/
backend/dist/

# IDE / OS
.idea/
.vscode/
*.iml
Thumbs.db
.DS_Store

# Env
backend/.env
app/.env
